<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<parameter name="appURL" value="http://jupiter.cloud.planittesting.com/"/>
	<parameter name="browserType" value="chrome"/>
	
  	<listeners>
  		<listener class-name="base.TestListener"/>    
  	</listeners>
	
  	<test thread-count="1" name="Test">
    	<classes>
      		<class name="com.test.planit.TestCase1"/>
      		<class name="com.test.planit.TestCase2"/>
      		<class name="com.test.planit.TestCase3"/>
    	</classes>
  	</test> <!-- Test -->
  	
</suite> <!-- Suite -->